:root {
      /* Primary */
      --soft-cyan: hsl(174, 77%, 80%);
      /* (Full Slider Bar)*/
      --strong-cyan: hsl(174, 86%, 45%);
      /*   (Slider Background)*/
      --light-grayish-red: hsl(14, 92%, 95%);
      /*(Discount Background)*/
      --light-red: hsl(15, 100%, 70%);
      /*(Discount Text)*/
      --pale-blue: hsl(226, 100%, 87%);
      /*(CTA Text)*/
      /* Neutral */
      --white: hsl (0, 0%, 100%);
      /* (Pricing Component Background) */
      --very-pale-blue: hsl(230, 100%, 99%);
      /* (Main Background) */
      --light-grayish-blue-slider: hsl(224, 65%, 95%);
      /* (Empty Slider Bar) */
      --light-grayish-blue: hsl(223, 50%, 87%);
      /*(Toggle Background)*/
      --grayish-blue: hsl(225, 20%, 60%);
      /* (Text) */
      --dark-desaturated-blue: hsl(227, 35%, 25%);
      /* (Text & CTA Background) */
      --dark-hover-blue: hsl(227, 32%, 43%);
      /* (Text & CTA Background) */
      --break-point: 650px;
    }
    
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
    body,
    div,
    ul {
      padding: 0;
      margin: 0;
    }
    
    body {
      font-size: 15px;
      font-family: "Manrope", sans-serif;
      min-height: 100vh;
      background-color: rgb(240, 240, 240);
    }


    header {
      text-align: center;
      padding-top: 5rem;
      padding-bottom: 4rem;
    }

    .container {
      width: 38%;
      margin: 0 auto;
      min-width: 500px;
      min-height: 100vh;
      display: grid;
      align-items: center;
      overflow: hidden;
    }

.header__title {
      font-size: 1.6rem;
      color: var(--dark-desaturated-blue);
    }

.header__subtitle {
      font-size: 0.84rem;
      font-weight: 800;
      color: var(--grayish-blue);
    }    
.pricing-component {
      background: var(--very-pale-blue);
      border-radius: 0.5rem;
      margin-bottom: 5rem;
       box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.011), 0 2.4px 5.3px rgba(0, 0, 0, 0.016),
        0 4.5px 10px rgba(0, 0, 0, 0.02), 0 8px 17.9px rgba(0, 0, 0, 0.024),
        0 15px 33.4px rgba(0, 0, 0, 0.029), 0 36px 80px rgba(0, 0, 0, 0.04);
      --horizontal-padding: 3rem;
  
    }

@media (max-width: 375px) {
      .pricing-component {
        --horizontal-padding: 1rem;
      }
    }

.pricing-component__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: center;
      width: 100%;
      padding: 2rem var(--horizontal-padding) 0;
      color: var(--grayish-blue);
      font-size: 0.86rem;
      letter-spacing: 1px;
      font-weight: bold;
    }

.pricing-component__header .slider {
      grid-column: 1/-1;
    }

    .pricing-component__header .pricing-component__price {
      color: var(--dark-desaturated-blue);
      font-size: 2.74em;
      font-weight: 800;
      letter-spacing: -1px;
      padding-right: 4px;
      
    }
    .month{
          margin-left: .5rem;
    }

    .pricing-component__header p:first-of-type {
      text-transform: uppercase;
      justify-self: start;
    }
    .pricing-component__header p:last-of-type {
      display: flex;
      align-items: center;
      justify-self: end;
    }
    
    .pricing-component__controllers {
      padding: 2rem calc(var(--horizontal-padding) + 0.5rem) 1rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .billing-mode {
      font-size: 0.74rem;
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      padding-right: 0.5rem;
      gap: 0.5rem;
      color: var(--grayish-blue);
    }

    .pointer {
      cursor: pointer;
    }
    .pointer .toggle_shape {
      width: 40px;
      height: 20px;
      display: block;
      border: 2px solid var(--light-grayish-blue);
      border-radius: 20px;
      background-color: var(--light-grayish-blue);
      position: relative;
      transition: 0.15s linear;
    }
    .pointer .toggle_shape:after {
      transition: 0.15s linear;
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.15s linear;
    }

    .pointer input[type=checkbox] {
      display: none;
    }

    .pointer input[type=checkbox]:checked + .toggle_shape {
      border-color: var(--soft-cyan);
      background-color: var(--soft-cyan);
    }

    .pointer input[type=checkbox]:checked + .toggle_shape:after {
      left: 20px;
    }

    .discount-badge {
      font-size: 0.7rem;
      font-weight: 800;
      color: var(--light-red);
      border-radius: 100px;
      padding: 2px 5px;
      letter-spacing: -1;
      background: rgba(255, 140, 102, 0.3);
      
    }
    .discount-badge:after {content: '25% discount'}

    .pricing-component__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.9rem var(--horizontal-padding);
      border-top: 1px solid rgba(133, 143, 173, 0.2);
    }

    .pricing__features {
      list-style: georgian inside url(../images/icon-check.svg);
      list-style-type: none;
      color: var(--grayish-blue);
      display: grid;
      gap: 0.5rem;
      font-weight: 800;
      font-size: 0.7rem;
    }

    .pricing-component__start-btn {
      background: var(--dark-desaturated-blue);
      color: var(--pale-blue);
      border-radius: 100px;
      border: 0;
      padding: 0.74rem 2.5rem;
      cursor: pointer;
    }
    .pricing-component__start-btn:hover {
      background: var(--dark-hover-blue);
      color: var(--pale-blue);
      border-radius: 100px;
      border: 0;
      padding: 0.74rem 2.5rem;
    }

.r{
      border: 1px solid red;
}